@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a0dab;
}

body[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;
}

body.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
  animation: fadeIn 1s ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  animation: fadeIn 1s ease-in-out;
}

@media (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

.container img {
  max-width: 250px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
}

.container a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

.container a:hover {
  transform: scale(1.05);
}