body[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a0dab;
}

body[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body:not(.theme-transition) {
  transition: none;
}

body.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--link-color);
}

:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
}

[data-theme='dark'] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

/* Styles globaux pour la mise en page */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1, h2, h3, p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2, h3, p {
  font-family: 'Roboto Mono', monospace;
}

h1, h2 {
  text-transform: uppercase;
}

h2, h3 {
  font-size: 20px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2, h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media (min-width: 1400px) {
  #root {
    gap: 200px;
  }
  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 75px;
  }
}